<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
<div>
    <button onclick="window.location.href='/trade'">Головна сторінка</button>
    <button onclick="window.location.href='/logout'">Вихід з акаунту</button>
    <button onclick="window.location.href='/login'">Сторінка логіну</button>
    <button onclick="window.location.href='/signup'">Сторінка реєстрації</button>
    <button onclick="window.location.href='/trade/admin/users'">Сторінка користувачів</button>

</div>


</body>
</html>