<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>


    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">


    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css">



</head>
<body>
<div id="colorlib-page">
    <div class="container-wrap">

        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar"
           aria-expanded="false" aria-controls="navbar"><i></i></a>
        <aside id="colorlib-aside" role="complementary" class="border js-fullheight">
            <div class="text-center" style="display: flex; flex-direction: column; align-items: center;">
                <div class="rounded-circle"
                     style="overflow: hidden; width: 150px; height: 150px; display: flex; align-items: center; justify-content: center;">
                    <img id="imageUpload" th:src="'data:image/jpeg;base64,' + ${image}" alt="Аватар"
                         style="cursor: pointer; object-fit: cover; width: 100%; height: 100%;">
                </div>
                <h1 id="colorlib-logo" style="text-align: center" th:text="${user.getUsername()}">Username</h1>
                <span class="position" th:text="${user.getRoles().iterator().next()}">Role</span>
            </div>

            <form id="imageUploadForm" style="display: none;" method="post" action="/trade/my/upload"
                  enctype="multipart/form-data">
                <input id="fileInput" type="file" name="file" accept="image/*" required>
            </form>
        </aside>

        <div id="colorlib-main">
            <button onclick="window.location.href='/trade/my/offers'">Пропозиції</button>
            <form action="/trade/search" method="GET">
                <label for="search">Пошук:</label>
                <input type="text" id="search" name="query">
                <button type="submit">Пошук</button>
            </form>

            <form th:action="@{/trade/my}" method="post">

                <input type="text" id="name" name="name" placeholder="Name" maxlength="15" required>

                <input type="number" id="price" name="price" placeholder="Price" max="9999999" required>

                <label for="Quality">Quality</label>
                <select id="Quality" name="quality">
                    <option value="Destroyed">Destroyed</option>
                    <option value="Bad">Bad</option>
                    <option value="Mid">Mid</option>
                    <option value="Good">Good</option>
                    <option value="Perfect">Perfect</option>
                </select>

                <input type="text" id="description" name="description" placeholder="Description" maxlength="30">

                <!-- Кнопка для відправки форми -->
                <button type="submit">Add</button>
            </form>
            <section class="colorlib-services" data-section="services">
                <div class="colorlib-narrow-content">
                    <div class="row row-pt-md">
                        <!-- Розділити інвентар на групи по 3 елементи -->
                        <th:block th:each="i : ${#numbers.sequence(0, inventory.size() - 1, 3)}">
                            <div class="row">
                                <!-- Ітерувати через кожну групу -->
                                <th:block th:each="j : ${#numbers.sequence(i, ((i + 2) &lt; inventory.size() ? (i + 2) : inventory.size() - 1))}">
                                    <div class="col-md-3" style="margin: 5px; height: 5%;">
                                        <div style="border: 1px solid #ccc; padding: 10px; ">

                                            <div>
                                                <h3 style="word-wrap: break-word;" th:text="${inventory[j].getName()}">Name</h3>
                                                <h4 style="word-wrap: break-word;" th:text="${inventory[j].getDescription()}">Description</h4>
                                                <h4 th:text="${inventory[j].getQuality()}">Quality</h4>
                                                <h4 th:text="${inventory[j].getPrice()}">Price</h4>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </th:block>
                    </div>
                </div>
            </section>

            <div id="colorlib-counter" class="colorlib-counters" style="background-image: url(/images/cover_bg_1.jpg);"
                 data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="colorlib-narrow-content">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-center animate-box">
                            <span class="colorlib-counter js-counter" data-from="0" th:data-to="${inventory.size()}"
                                  data-speed="3000" data-refresh-interval="50"></span>
                            <span class="colorlib-counter-label">Items in the inventory</span>
                        </div>
                        <div class="col-md-3 text-center animate-box">
                            <span class="colorlib-counter js-counter" data-from="0" th:data-to="${user.getTradeCount()}"
                                  data-speed="3000"
                                  data-refresh-interval="50"></span>
                            <span class="colorlib-counter-label">Trades</span>
                        </div>
                        <div class="col-md-3 text-center animate-box">
                            <span class="colorlib-counter js-counter" data-from="0" th:data-to="${user.getBalance()}"
                                  data-speed="3000"
                                  data-refresh-interval="50"></span>
                            <span class="colorlib-counter-label">Balance</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end:colorlib-main -->
    </div><!-- end:container-wrap -->
</div><!-- end:colorlib-page -->

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- jQuery Easing -->

<!-- Counters -->
<script src="/js/jquery.countTo.js"></script>


<!-- MAIN JS -->
<script src="/js/main.js"></script>

</body>
</html>
